<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h2 style="text-align: center">{{ "About" }}</h2>
          <li>
              {{ % site.description % }}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <h2 style="text-align: center">{{ "Social Media" }}</h2>
          {% if site.github_username %}
          <li style="text-align: center">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li style="text-align: center">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h2 style="text-align: center">{{ "Contact" }}</h2>
        <p style="text-align: center">{% if site.email %}
          <a href="mailto:{{ site.email }}?subject=Security-Tricks Inquiry...">{{ site.email }}</a>
        {% endif %}
        </p>
      </div>
    </div>

  </div>

</footer>
