<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h2 style="text-align: center">{{ "About" }}</h2>
          <li>
              {{ % site.description % }}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <h2 style="text-align: center">{{ "Social Media" }}</h2>
          {% if site.github_username %}
          <li style="text-align: center">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li style="text-align: center">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h2 style="text-align: center">{{ "Contact" }}</h2>
        <p style="text-align: center">{% if site.email %}
          <script type="text/javascript" language="javascript">
<!--
// Email obfuscator script 2.1 by Tim Williams, University of Arizona
// Random encryption key feature by Andrew Moulden, Site Engineering Ltd
// This code is freeware provided these four comment lines remain intact
// A wizard to generate this code is at http://www.jottings.com/obfuscator/
{ coded = "3lEam0u2-um0Ef3@VmHuHr5k0M.EH5"
  key = "GRKMpePJsqLS4HjYg9cmBn2DQxkvu0dCXAVlw1368hFUWoIZE5Or7NyzfTabti"
  shift=coded.length
  link=""
  for (i=0; i<coded.length; i++) {
    if (key.indexOf(coded.charAt(i))==-1) {
      ltr = coded.charAt(i)
      link += (ltr)
    }
    else {
      ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
      link += (key.charAt(ltr))
    }
  }
document.write("<a href='mailto:"+link+"'>"+Email Us+"</a>")
}

        {% endif %}
        </p>
      </div>
    </div>

  </div>

</footer>
